sudo: required

services:
 - docker

env:
 - IMG="debian:stretch" PKG="clang-3.9 libomp-dev" CC="clang-3.9" CXX="clang++-3.9"
 - IMG="debian:stretch" PKG="gcc-6 g++-6"          CC="gcc-6"     CXX="g++-6"
 - IMG="ubuntu:xenial"  PKG="clang-4.0 libomp-dev" CC="clang-4.0" CXX="clang++-4.0"
 - IMG="ubuntu:xenial"  PKG="gcc-4.8 g++-4.8"      CC="gcc-4.8"   CXX="g++-4.8"
 - IMG="ubuntu:xenial"  PKG="gcc-5 g++-5"          CC="gcc-5"     CXX="g++-5"

script:
 - docker build --build-arg "IMG=${IMG}" --build-arg "PKG=${PKG}" -t laikenv "."
 - docker run -v `pwd`:/mnt -e "CC=${CC}" -e "CXX=${CXX}" laikenv ./configure
 - docker run -v `pwd`:/mnt laikenv cat Makefile.config
 - docker run -v `pwd`:/mnt -e "OMPI_CC=${CC}" laikenv make
 - docker run -v `pwd`:/mnt laikenv make test
