*.dSYM
*profiling.txt
*.csv
*.out
vsum
vsum2
spmv
spmv2
jac1d
jac2d
jac2d-ser
jac3d
jac3d-ll
markov-ser
markov
markov2
propagation1d
propagation2d
/raytracer
/raytracer.c
/raytracer_omp.cpp
/raytraceromp
/sqrtcalc
/sqrtcalc.c
/test.txt
/vsum3
